<div class="container" ng-Controller="JobController">

 <h1 class="well"><center><font face="Monotype Corsiva">Job Form</font></center></h1>
	<div class="col-lg-12 well">
	<div class="row">
				<form>
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>Application Id</label>
								<input type="number" name="id" ng-model="JobApplication.jobID"  placeholder="Enter Application Id Here.." class="form-control">
							</div>
							<div class="col-sm-6 form-group">
								<label>EmailID </label>
								<input type="text" name="emailID" ng-model="JobApplication.emailID" placeholder="Enter emailid Here.." class="form-control">
							</div>
					
					<div>
					<button type="button" ng-click="apply()" class="btn btn-lg btn-info">Submit</button>					
					</div>
				</form> 
		</div>
	</div>
	</div>